body > div,
body > div > div {
    height: 100%;
}

.nav-slide {
    margin-left: 150px;
    transition-duration: 0.5s;
}

.main-wrap {
    min-height: 100%;
    background: #f1f4f5;
    position: relative;
}

.pushable > .pusher {
    height: 100%;
}
